In [72]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime

In [73]:
key_sku = pd.read_csv("data/KEY_SKU.csv")
marketing_spend = pd.read_csv("data/Marketing_Spend.csv")
online = pd.read_csv("data/Online.csv")
retail = pd.read_csv("data/Retail.csv")

In [74]:
for tab in [key_sku, marketing_spend, online, retail]:
    tab.info()
    print()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1178 entries, 0 to 1177
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Product SKU  1178 non-null   object
 1   StockCode    1178 non-null   int64
dtypes: int64(1), object(1)
memory usage: 18.5+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     365 non-null    object
 1   Offline Spend  365 non-null    int64
 2   Online Spend   365 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 8.7+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54144 entries, 0 to 54143
Data columns (total 10 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Transaction ID                          54144 non-null  int64
 1   Date                                    54144 non-null  int64
 2   Product SKU                             54144 non-null  object
 3   Product                                 54144 non-null  object
 4   Product Category (Enhanced E-commerce)  52928 non-null  object
 5   Quantity                                54139 non-null  float64
 6   Avg. Price                              54144 non-null  float64
 7   Revenue                                 54144 non-null  float64
 8   Tax                                     54144 non-null  float64
 9   Delivery                                54144 non-null  float64
dtypes: float64(5), int64(2), object(3)
memory usage: 4.1+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181247 entries, 0 to 181246
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    181247 non-null  int64
 1   InvoiceDate  181247 non-null  object
 2   StockCode    181247 non-null  int64
 3   Quantity     181247 non-null  int64
dtypes: int64(3), object(1)
memory usage: 5.5+ MB

# 1. Normalisasi

## 1.1 key_sku

In [75]:
key_sku.head()

      Product SKU  StockCode
0  GGOENEBQ079099      21421
1  GGOENEBQ079199      21422
2  GGOENEBQ084699      22178
3  GGOEGAEB091117      20749
4  GGOENEBB078899      21056

## 1.2 Marketing Spend

In [76]:
marketing_spend.head()

   Unnamed: 0  Offline Spend  Online Spend
0  2017-01-01           4500       2424.50
1  2017-01-02           4500       3480.36
2  2017-01-03           4500       1576.38
3  2017-01-04           4500       2928.55
4  2017-01-05           4500       4055.30

In [77]:
marketing_spend.rename(columns={'Unnamed: 0':'Date'}, inplace=True)
marketing_spend.head()

         Date  Offline Spend  Online Spend
0  2017-01-01           4500       2424.50
1  2017-01-02           4500       3480.36
2  2017-01-03           4500       1576.38
3  2017-01-04           4500       2928.55
4  2017-01-05           4500       4055.30

## 1.3 Online

In [78]:
online["Date"] = online["Date"].astype(str)
online["Date"]

0        20171231
1        20171231
2        20171231
3        20171231
4        20171231
           ...
54139    20170101
54140    20170101
54141    20170101
54142    20170101
54143    20170101
Name: Date, Length: 54144, dtype: object

In [79]:
date_list = list(online["Date"])
for i in range(len(date_list)):
    date_list[i] = datetime.strptime(date_list[i], '%Y%m%d').strftime('%Y-%m-%d')
date_list[0:50]

['2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31',
 '2017-12-31']

In [80]:
online["Date"] = date_list
online.head()

,Transaction ID,Date,Product SKU,Product,Product Category (Enhanced E-commerce),Quantity,Avg. Price,Revenue,Tax,Delivery
0,48497,2017-12-31,GGOENEBQ079099,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,4.0,80.52,316.00,34.44,19.99
1,48496,2017-12-31,GGOENEBQ079199,Nest® Protect Smoke + CO White Wired Alarm-USA,Nest-USA,5.0,80.52,395.00,33.14,6.50
2,48495,2017-12-31,GGOENEBQ084699,Nest® Learning Thermostat 3rd Gen-USA - White,Nest-USA,1.0,151.88,149.00,12.06,6.50
3,48494,2017-12-31,GGOEGAEB091117,Google Zip Hoodie Black,Apparel,1.0,48.92,47.99,3.82,6.50
4,48493,2017-12-31,GGOENEBB078899,Nest® Cam Indoor Security Camera - USA,Nest-USA,1.0,121.30,119.00,8.31,6.50

In [81]:
online.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54144 entries, 0 to 54143
Data columns (total 10 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Transaction ID                          54144 non-null  int64
 1   Date                                    54144 non-null  object
 2   Product SKU                             54144 non-null  object
 3   Product                                 54144 non-null  object
 4   Product Category (Enhanced E-commerce)  52928 non-null  object
 5   Quantity                                54139 non-null  float64
 6   Avg. Price                              54144 non-null  float64
 7   Revenue                                 54144 non-null  float64
 8   Tax                                     54144 non-null  float64
 9   Delivery                                54144 non-null  float64
dtypes: float64(5), int64(1), object(4)
memory usage: 4.1+ MB

In [82]:
online.dropna(axis="rows", inplace=True)
online["Quantity"] = online["Quantity"].astype(int)

In [83]:
online.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52924 entries, 0 to 54143
Data columns (total 10 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Transaction ID                          52924 non-null  int64
 1   Date                                    52924 non-null  object
 2   Product SKU                             52924 non-null  object
 3   Product                                 52924 non-null  object
 4   Product Category (Enhanced E-commerce)  52924 non-null  object
 5   Quantity                                52924 non-null  int64
 6   Avg. Price                              52924 non-null  float64
 7   Revenue                                 52924 non-null  float64
 8   Tax                                     52924 non-null  float64
 9   Delivery                                52924 non-null  float64
dtypes: float64(4), int64(2), object(4)
memory usage: 4.4+ MB

In [ ]:
online.head()

,Transaction ID,Date,Product SKU,Product,Product Category (Enhanced E-commerce),Quantity,Avg. Price,Revenue,Tax,Delivery
0,48497,2017-12-31,GGOENEBQ079099,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,4,80.52,316.00,34.44,19.99
1,48496,2017-12-31,GGOENEBQ079199,Nest® Protect Smoke + CO White Wired Alarm-USA,Nest-USA,5,80.52,395.00,33.14,6.50
2,48495,2017-12-31,GGOENEBQ084699,Nest® Learning Thermostat 3rd Gen-USA - White,Nest-USA,1,151.88,149.00,12.06,6.50
3,48494,2017-12-31,GGOEGAEB091117,Google Zip Hoodie Black,Apparel,1,48.92,47.99,3.82,6.50
4,48493,2017-12-31,GGOENEBB078899,Nest® Cam Indoor Security Camera - USA,Nest-USA,1,121.30,119.00,8.31,6.50

## 1.4 Retail

In [85]:
retail.head()

   InvoiceNo InvoiceDate  StockCode  Quantity
0     536598  2017-01-01      21421         1
1     536598  2017-01-01      21422         2
2     536598  2017-01-01      22178        26
3     536599  2017-01-01      20749         2
4     536599  2017-01-01      21056         2

In [86]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181247 entries, 0 to 181246
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    181247 non-null  int64
 1   InvoiceDate  181247 non-null  object
 2   StockCode    181247 non-null  int64
 3   Quantity     181247 non-null  int64
dtypes: int64(3), object(1)
memory usage: 5.5+ MB

## 1.5 Check Normalization

In [88]:
key_sku

         Product SKU  StockCode
0     GGOENEBQ079099      21421
1     GGOENEBQ079199      21422
2     GGOENEBQ084699      22178
3     GGOEGAEB091117      20749
4     GGOENEBB078899      21056
...              ...        ...
1173  GGOEGAXT065429      21816
1174  GGOEGAXH065329      20935
1175  GGOEAAWC062448      20678
1176  GGOEAAAJ034516      17191
1177  GGOEGADJ059413      21370

[1178 rows x 2 columns]

In [89]:
marketing_spend

           Date  Offline Spend  Online Spend
0    2017-01-01           4500       2424.50
1    2017-01-02           4500       3480.36
2    2017-01-03           4500       1576.38
3    2017-01-04           4500       2928.55
4    2017-01-05           4500       4055.30
..          ...            ...           ...
360  2017-12-27           4000       3396.87
361  2017-12-28           4000       3246.84
362  2017-12-29           4000       2546.58
363  2017-12-30           4000        674.31
364  2017-12-31           4000       2058.75

[365 rows x 3 columns]

In [90]:
online

,Transaction ID,Date,Product SKU,Product,Product Category (Enhanced E-commerce),Quantity,Avg. Price,Revenue,Tax,Delivery
0,48497,2017-12-31,GGOENEBQ079099,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,4,80.52,316.00,34.44,19.99
1,48496,2017-12-31,GGOENEBQ079199,Nest® Protect Smoke + CO White Wired Alarm-USA,Nest-USA,5,80.52,395.00,33.14,6.50
2,48495,2017-12-31,GGOENEBQ084699,Nest® Learning Thermostat 3rd Gen-USA - White,Nest-USA,1,151.88,149.00,12.06,6.50
3,48494,2017-12-31,GGOEGAEB091117,Google Zip Hoodie Black,Apparel,1,48.92,47.99,3.82,6.50
4,48493,2017-12-31,GGOENEBB078899,Nest® Cam Indoor Security Camera - USA,Nest-USA,1,121.30,119.00,8.31,6.50
...,...,...,...,...,...,...,...,...,...,...
54139,16682,2017-01-01,GGOEGOXQ016399,Badge Holder,Office,31,1.99,954.95,57.75,6.50
54140,16682,2017-01-01,GGOEYAAB031816,YouTube Men's Short Sleeve Hero Tee Black,Apparel,5,17.53,954.95,57.75,6.50
54141,16681,2017-01-01,GGOEGFKQ020399,Google Laptop and Cell Phone Stickers,Office,1,2.05,1.99,0.60,6.50
54142,16680,2017-01-01,GGOENEBJ079499,Nest® Learning Thermostat 3rd Gen-USA - Stainl...,Nest-USA,1,153.71,149.00,13.22,6.50
54143,16679,2017-01-01,GGOENEBJ079499,Nest® Learning Thermostat 3rd Gen-USA - Stainl...,Nest-USA,1,153.71,149.00,13.61,6.50

In [91]:
retail

        InvoiceNo InvoiceDate  StockCode  Quantity
0          536598  2017-01-01      21421         1
1          536598  2017-01-01      21422         2
2          536598  2017-01-01      22178        26
3          536599  2017-01-01      20749         2
4          536599  2017-01-01      21056         2
...           ...         ...        ...       ...
181242     580137  2017-12-31      21977         1
181243     580137  2017-12-31      20914         6
181244     580137  2017-12-31      21034         3
181245     580137  2017-12-31      21588         1
181246     580137  2017-12-31      21034         2

[181247 rows x 4 columns]

# 1. Exploratory Data Analysis